h1 {
  text-align: center;
  color: yellow;
  background-color: blue;
}
body {
  background-color: purple;
}
h2{
  text-align:center;
  font-size: 28;
  font-family: serif;
}
img{
  img {border-radius: 50%;
    max-width: 100%;
    height: auto;
}
p {
  background-color: white;
  font-family:sans-serif;
ul{
  color: green;
}
h5{
  font-size: 30;
}
